* {
  box-sizing: border-box;
}
.allButFooter {
    min-height: calc(100vh - 180px);
    
}
body {
  margin:0;
  font-family: "Times New Roman";
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  height:80px;
  width:100%;
  background-color: rgba(34, 139, 35, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}
.logo {
  height:75px;
  width:117px;
  margin-top:2px;

}
.header-left {
  float:left;
}


.header-right {
  float: right;
  overflow: hidden;
  position: relative; 
}
.header-right a {
  line-height: 65px;
  padding: 8px 17px;
  color: white;
  float: left;
  transition: 0.9s;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-icon {
  color:white;
  float: right;
  font-size: 25px;
  padding: 30px 0;
  display: none;
}
.container {
  max-width: 1400px;
  padding: 0 5px;
  margin:0 auto;
}
.container-left img{
  width: 150%;
  padding: 0 0 0 10%;
}
.container-right {
  float: right; 
  overflow: hidden; 
  display:inline; 
  width: 60%; 
  padding: 0 0 0 10%;
}
.fa {
  margin-right:5px;
}

.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url("images/photo_6336925230081094804_y.jpg");
  background-size: 100% 120%, cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 1;
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 10px;

}
.isi-wrapper {
  padding: 120px 0 20px 0;
  background-size: 100% 120%, cover;
  background-repeat: no-repeat;
  text-align: left;
}
.isi-wrapper h2 {

  margin-top: 15px;
  font-weight: normal;
}
h1  {
  color:  #7CFC00;
  opacity: 0.9;
  background-color: #239b76;
  padding: 0 20px;
  display:inline;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;

}

.facebook {
  background-color: #006400
  ;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
  padding: 12px 36px;
}

.wahana-wrapper {
  height: 1050px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {

  margin-top: 15px;
  font-weight: normal;
}

.wahana {
  float: left;
  width: 25%;
}


.wahana h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #b3aeb5;
  width: 80%;
  display: inline;
  font-size: 15px;
  
  font-weight: normal;
}
.wahana p {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #b3aeb5;
  width: 80%;
  display: inline-block;
  font-size: 15px;
}
.wahana-icon img{
  width: 95%;
  height: 180px;
}

.wahana-icon p {
  width: 80%;
  color: #5f5d60;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 15px;
  color: #b3aeb5;
}

.wahana:hover {
  position: relative;
  top: -25px;
  cursor: pointer;
}

.wahana-icon img:hover {
  width: 100%;
}
.txt-contents:hover {
  color: Black;
  width: 100%;
}

.wahana h3:hover {
  color: Black;
  width: 100%;
  font-size: 18px;
}

.wahana p:hover {
  color: Black;
  width: 100%;
  font-size: 18px;
}
.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 120px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #55acee;
  cursor: pointer;
  box-shadow: 0 7px black;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.extratwo-wrapper {
	text-align: center;
	padding-bottom: 80px;
	background-color: #f7f7f7;
}

.section {
	float: left;
	width: 16.66%;
	opacity: 0.7;
}

.section:hover {
	position: relative;
	top: -25px;
	cursor: pointer;
	opacity: 1;
}

.section-pict img{
	width: 80%;
	height: 80px;
}

.clear {
	clear: left;
}



footer {
  border-top: 1px solid #eee;
  height:180px;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: #006400;
  color: white;
  position: fixed;
}

.footer-top {
  margin: 5px auto;
  float: center;
  text-align: center;
}

.footer-top a{
  padding: 18px 17px;
  color: white;
  transition: 0.9s;
}
.footer-top a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-left {
  text-align: center;
  float:left;
  padding: 20px 0;
  font-size: 100%;
}


.footer-right {
  text-align: center;
  float: right;
  animation-name: credit;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

footer img {
  width: 80px;
  margin-top: 5px;

}

.footer-right h4 {
  margin-top: 2px;
  padding: 0 15px;
  font-size: 100%;
 
}
.footer-right p {
  font-size: 75%;
  padding:0 17px;
  display: block;
}
.footer-right img {
  width: 50px;
  margin-top: 2px;
}
.footer-left img {
  width: 80px;
  margin-top: 2px;
}

@keyframes credit {
  0%   {color: white;}
  25%  {color: yellow;}
  50%  {color: red;}
  100% {color: black;}
}



/* For Tablet */
@media all and (max-width: 1000px) {
  .header-right a{
    line-height: 0;
    padding: 0;
    float: none;

  }

  .heading h2 {
    font-size: 20px;
  }
  
  .section {
    width: 45%;
    margin-bottom: 50px;
  }

  .wahana {
    width: 50%;
    margin-bottom: 50px;
  }
  .txt-contents{
    font-size: 15px;
  }
  .footer {
    line-height: 0;
    padding: 0;
    float: none;

  }
}

/* For Smartphone */
@media all and (max-width: 670px) {  
  
  .wahana {
    width: 50%;
  }
  footer {
    height: 40px;
    font-size: 60%;
    padding: 10px 0;
  }

.isi-wrapper {
  padding: 120px 0 20px 0;
}
.container-left img{
  float: center;
  padding: 0 0;
}
.container-right {
  float: left;
  padding: 0 0;
  display:table; 
  width: 90%; 
  text-align: center;
}

  footer img {
  width: 5px;
  }
.btn-wrapper img {
  width: 80%;
}
  .footer-left {
  display: none;
}
  .footer-right {
    display: none;
  }  